*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: aqua;
    height: 100vh;
}

.navbar{
    background-color: beige;
    height:80px;
}


#button{
    display: flex;
    gap: 2em;
    padding-top: 1.5em;
    padding-left: 1.5em;
    align-items: center;

}

.info{
    display: flex;
    gap: 1.5em;
    align-items: center;
    cursor: pointer;

}

.start{
    background-color: blue;
    height: 30px;
    width: 60px;
    padding: 5px 10px;
    color: white;
}

.end-button{
    display: flex;
    gap: 1.5em;
    align-items: center;
    margin-left: 950px;
}

.jumbo{
    width: 130vh;
    margin: 0 auto;
    background-color: red;
    height: 100vh;
}

.title{
    height: 200px;
    width: 110vh;
    font-size: 5em;
    padding-top: 120px;
}
