*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    background-color: #b4d0e7;
    height: 88vh;
}

.navbar{
    background-color: white;
    height:80px;
    
}


#button{
    display: flex;
    gap: 2em;
    padding-top: 1.5em;
    padding-left: 1.5em;
    align-items: center;

}

.info{
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.start{
    background-color: blue;
    height: 30px;
    width: 60px;
    padding: 5px 10px;
    color: white;
}

.end-button{
    display: flex;
    gap: 1.5em;
    margin-left: 970px;
}

.jumbo{
    width: 130vh;
    margin: 0 auto;
    height: 87vh;
    padding-top: 120px;
}

.left-container{
    display: flex;
    padding-top: 50px;
}
.title{
    height: 200px;
    width: 110vh;
    font-size: 5em;
    
}

.img{
    background-color: white;
    width: 290vh;
    height: 43vh;
    margin-right: 30vh;
}

.position-btn{
    display: flex;
    flex-direction: column;
    gap: 3.5em;
}

.btn{
    background-color: blue;
    height: 40px;
    width: 200px;
    padding: 12px;
    color: white;
    border-radius: 10px;
}

.pointer{
    cursor: pointer;
}

.arrow{
 font-size: 50px;
}

.centered-container{
    width: 110vh;
    margin: 0 auto;
    height: 100vh;
}

div > h1{
    font-size: 2.5em;
    
}

.main-section{
    padding-top: 100px;
}

.checkbox{
    padding-top: 40px;
    display: flex;
    gap: 2.5em;
}

.color{
    accent-color: blue;
}

.tab{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    
}

.first-tab, .second-tab, .third-tab{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 90vh;
    width: 30vh;
}

.first-line{
    display: flex;
    justify-content: center;
    padding: 5px 5px;
}

#tab-content{
    padding: 25px;
}

.space{
    padding-top: 15px;
}

.second-line{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 20px;
}
.row{
    display: flex;
}

.first-p, .second-p, .third-p{
    display: flex;
    gap: 10px;
}

.third-line{
    display: flex;
    flex-direction: column;
    gap: 25px;
}



.button-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 40px;
    color: white;
    margin-top: 60px;
}

#small-row{
    width: 50px;
}

.fourth-line{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 45px;
}

.check{
    color: blue;
}

#big-tab{
    border: 1px solid black;
    height: 25vh;
    margin-top: 50px;
    
}

.bigtab-first{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.title-button-bigtab{
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.office-contact{
    background-color: blue;
    height: 35px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.container-tab{
  padding-left:40px ;
}

.other-contact{
    padding-bottom: 40px;
    margin-top: -35px;

}